-
    var footerCreativeState = {
                logo: {
                    imgName: 'Logo',
                    text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam\n' +
                            'pellentesque aliquam curabitur cociis.'
                },
                icons: [
                    {
                        href: '',
                        item: 'icon-twitter',
                    },
                    {
                        href: '',
                        item: 'icon-facebook-squared',
                    },
                    {
                        href: '',
                        item: 'icon-instagram',
                    },
                ]
            }

+FooterCreative(
        footerCreativeState.logo,
        footerCreativeState.icons
)