-
    var headerLoggedState = {
                imgName: 'Logo',
                links: {
                    href: '',
                    list: [
                        'Home',
                        'About Us',
                        'Services',
                        'Careers',
                        'News',
                        'Documentation',
                    ],
                },
                log: {
                    name: 'Cosmin',
                    surname: 'Negoita'
                }
            }

+HeaderLogged(
        headerLoggedState.imgName,
        headerLoggedState.links,
        headerLoggedState.log
)