-
    var cardStandardState = {
                image: {
                    name: 'card2',
                    count: 4
                },
                infoCard: {
                    number: 840,
                    type: '',
                    price: 9990,
                    term: 'в сутки'
                },
                rate: {
                    id: 4,
                    state: '',
                    count: 5
                },
                comments: {
                    value: 65,
                    text: 'Отзывов'
                }
            }

+Card(
    cardStandardState.image,
    cardStandardState.infoCard,
    cardStandardState.rate,
    cardStandardState.comments
)