-
    var cardLuxuryState = {
                image: {
                    name: 'card1',
                    count: 4
                },
                infoCard: {
                    number: 888,
                    type: 'люкс',
                    price: 9990,
                    term: 'в сутки'
                },
                rate: {
                    id: 3,
                    state: '',
                    count: 5
                },
                comments: {
                    value: 145,
                    text: 'Отзывов'
                }
            }

+Card(
        cardLuxuryState.image,
        cardLuxuryState.infoCard,
        cardLuxuryState.rate,
        cardLuxuryState.comments
)