-
    var checkboxListState = [
        {
            context: 'expandable checkbox list',
            width: 'medium'
        },
        {
            context: 'expandable checkbox list',
            width: 'medium',
            state: 'active',
            text: [
                {
                    text: 'Завтрак',
                    state: ''
                },
                {
                    text: 'Письменный стол',
                    state: 'checked'
                },
                {
                    text: 'Стул для кормления',
                    state: 'checked'
                },
                {
                    text: 'Кроватка',
                    state: 'checked'
                },
                {
                    text: 'Телевизор',
                    state: ''
                },
                {
                    text: 'Шампунь',
                    state: ''
                },
                {
                    text: 'Телевизор',
                    state: ''
                },
                {
                    text: 'Шампунь',
                    state: ''
                },
            ]
        }
    ]

each listCheckboxList in checkboxListState
    +CheckboxList(
            listCheckboxList.context,
            listCheckboxList.width,
            listCheckboxList.state,
            listCheckboxList.text
    )