-
    var dateState = [
        {
            label: 'date Dropdown',
            state: '',
            placeholder: '',
            text: '',
            width: 'small',
        },
        {
            label: 'date Dropdown',
            state: '',
            placeholder: '',
            text: '2019-08-19',
            width: 'small',
        },
    ]

each listDateState in dateState
    +DateWithLabel(
        listDateState.label,
        listDateState.state,
        listDateState.text,
        listDateState.width
    )