-
    var likeState = [
        {
            state: '',
            count: '2'
        },
        {
            state: 'checked',
            count: '12'
        }
    ]

each listLike, index in likeState
    +LikeBtn(
        listLike.state,
        listLike.count,
        index
    )