-
    var radioState = [
        {
            state: 'checked',
            text: 'Мужчина',
            index: 1
        },
        {
            state: '',
            text: 'Женщина',
            index: 1
        }
    ]

each listRadio in radioState
    +RadioBtn(
        listRadio.state,
        listRadio.text,
        listRadio.index
    )