-
    var radioState = [
        {
            state: 'checked',
            text: 'Мужчина'
        },
        {
            state: '',
            text: 'Женщина'
        }
    ]

each listRadio, index in radioState
    +RadioBtn(
        listRadio.state,
        listRadio.text,
        index
    )