-
    var rangeState = [
        {
            label: 'Range Slider',
            state: '5 000₽ - 10 000₽',
        }
    ]

each listRange in rangeState
    +Range(
        listRange.label,
        listRange.state
    )