-
    var richCheckboxState = [
        {
            context: 'rich Checkbox Buttons',
            width: 'medium',
            type: 'checkbox',
            button: [
                {
                    text: 'Широкий коридор',
                    state: '',
                    subtitle: 'Ширина коридоров в номере\n' +
                            'не менее 91 см.'
                },
                {
                    text: 'Помощник для инвалидов',
                    state: '',
                    subtitle: 'На 1 этаже вас встретит специалист\n' +
                            'и проводит до номера.'
                },
            ]
        }
    ]

each listRichCheckbox in richCheckboxState
    +RichCheckbox(
            listRichCheckbox.context,
            listRichCheckbox.width,
            listRichCheckbox.type,
            listRichCheckbox.button
    )