@import "~bootstrap/scss/bootstrap-reboot";
@import "custom";

.header {
  @include make-col-ready();

  display: grid;
  grid-template-areas:
    'logo nav btn';
  align-items: center;
  grid-template-rows: 34px;
  grid-template-columns: 0.755fr 1fr 0.42fr;
  padding: 18px 0;
  margin: 0 20px;
  background: #FFFFFF;

  &__logo {

    grid-area: logo;
  }

  &__navbar {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_item {
      letter-spacing: 0.02rem;

      &:nth-child(3) {
        position: relative;
        line-height: 1rem;

        &:after {
          content: 'expand_more';
          font-family: "Material Icons";
          font-size: 24px;
          margin-left: -3px;
          position: absolute;
        }
      }

      &:nth-child(4) {
        margin-left: 10px;
      }
    }
  }

  &__btn {
    grid-area: btn;
    justify-self: end;
    align-self: stretch;

    & > button {
      padding: 10px 20px;
      margin-left: 14px;
    }
  }
}