@import "~bootstrap/scss/bootstrap-reboot";
@import "custom";

.inputs {
  @include make-col-ready();
  @include make-col(4);

  margin-top: -2px;
}

.text-field {
  margin-bottom: 18px;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: space-between;

  &:nth-child(2) {
    margin-bottom: 16px;
  }

  // Use only in the UI kit
  &:nth-child(2) > div {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-bottom: 36px;
  }

  &:nth-child(5) {
    margin-right: 1rem;
  }

  &:nth-child(7) {
    margin-bottom: 38px;
  }

  &__label {
    @include font-theme(h3);

    padding-top: 3px;
  }

  &__state {
    @include color-theme(dark-50, color());

    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  &__wrapper {
    @include size(100%, 44px);

    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 4px;
    position: relative;

    &:hover {
      border: 1px solid $dark-shade-50;
    }
  }

  &__input {
    @include color-theme(dark-75, color);

    border: none;
    letter-spacing: -0.015em;
    width: 100%;

    &:active, &:focus {
      outline: none;
    }

    &::placeholder {
      @include color-theme(dark-25, color);
    }
  }

  &__btn {
    @include color-theme(liner-purple, color);
    
    font-size: 18px;
    margin-right: 0.5rem;
  }

  &__dropdown {

    &_field {
      color: rgba(31, 32, 65, 0.75);
      width: 100%;
      font-size: 14px;
      cursor: pointer;
    }

    &_icon {
      position: absolute;
      pointer-events: none;
      margin-right: 12px;
      font-size: 13px;
      color: rgba(31, 32, 65, 0.5);
      right: 0;
      z-index: 1;
    }
  }

  &__large {
    @include width-inputs(large);
  }

  &__medium {
    @include width-inputs(medium);
  }

  &__small {
    @include width-inputs(small);
  }
}