$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1200px
);

$grid-gutter-width: 40px;

$width-large: 20rem;
$width-medium: 16.625rem;
$width-small: 9.375rem;

$color-dark: #1F2041;
$color-purple: #BC9CFF;
$color-green: #6FCF97;

$font-h1: 24px;
$font-h2: 19px;
$font-h3: 12px;
$font-body: 14px;

@mixin reset-style($tag, $option: rgba(31, 32, 65, 0.5)) {
  @if($tag == m-p) {
    margin: 0;
    padding: 0;
  }
  @if($tag == p-m) {
    padding: 0;
    margin: 0;
  }
  @if($tag == link) {
    color: $option;
    text-decoration: none;
    &:hover {
      color: $option;
      text-decoration: none;
    }
  }
  @if($tag == border) {
    border: none;
    outline: none;
    &:active, &:focus {
      outline: none;
    }
  }
}

@mixin width-inputs($size) {
  @if($size == 'large') {
    width: $width-large;
  }
  @if($size == 'medium') {
    width: $width-medium;
  }
  @if($size == 'small') {
    width: $width-small;
  }
}

@mixin color-theme($color, $opacity: 100%) {
  @if($color == dark) {
    background: $color-dark;
  }
  @if($color == purple) {
    background: $color-purple;
  }
  @if($color == green) {
    background: $color-green;
  }
  @if($color != null) {
    opacity: $opacity;
  }
  @if($color == liner-purple) {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  @if($color == liner-green) {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}

@mixin font-theme($font: body) {
  @if($font == h1) {
    font-size: $font-h1;
    font-weight: 700;
    font-family: Quicksand;
    line-height: 1.25em;
    color: rgba(31, 32, 65, 1);
  }
  @if($font == h2) {
    font-size: $font-h2;
    font-weight: 700;
    font-family: Quicksand;
    line-height: 1.25em;
    color: rgba(31, 32, 65, 1);
  }
  @if($font == h3) {
    font-size: $font-h3;
    font-weight: 600;
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 1.25em;
    color: rgba(31, 32, 65, 1);
  }
  @if($font == body) {
    font-size: $font-body;
    font-weight: 400;
    font-family: Montserrat;
    color: rgba(31, 32, 65, 0.75);
  }
}