doctype html
html(lang='ru')
    head
        block meta
        block link
        block title
    body
        block colors & type
        block form elements
        block cards
        block headers & footers