@import "components/custom";
@import "~bootstrap/scss/bootstrap-reboot";
@import "components/font-face";
@import "components/animation";
@import "components/header";
@import "components/footer";
@import "components/cards";
@import "components/colors";
@import "components/type";
@import "components/inputs";
@import "components/buttons";

body {
  font-family: Montserrat;
}

.app-wrapper {
  background-color: #FFFFFF;
}

ul {
  @include reset-style(m-p)
}

a, input, select, label, li {
  @include reset-style(m-p);

  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
}

a {
  @include reset-style(link)
}

h1, h2, h3 {
  @include reset-style(m-p);
}

h1 {
  @include font-theme(h1);
}

h2 {
  @include font-theme(h2);
}

h3 {
  @include font-theme(h3);
}

p {
  @include font-theme(body);
  @include reset-style(m-p);
}

.active {
  font-family: Montserrat;
  font-weight: 600;
  color: rgba(31, 32, 65, 0.75);

  &:hover {
    color: rgba(31, 32, 65, 0.75);
  }
}

.header {
  margin-top: 148px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 40px;

  &:last-of-type {
    margin-bottom: 130px;
  }
}

.main {

}

.app-wrapper {

  &:nth-child(2) {
    .section {
      padding-top: 62px;
    }
  }
}

.section {
  padding-top: 67px;
  padding-bottom: 145px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.flex-column {
  @include make-grid-columns();
}

[icon-] {
  color: rgba(31, 32, 65, 0.5);
}

.emblem {
  padding: 30px 0 0 30px;

  &__img {

  }
}