@import "components/custom";
@import "~bootstrap/scss/bootstrap-reboot";
@import "components/font-face";
@import "components/animation";
@import "components/header";
@import "components/footer";
@import "components/cards";
@import "components/colors";
@import "components/type";

body {
  font-family: Montserrat;
}

.app-wrapper {
  background-color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
}

p, a, input, label, select, li {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;

  &:hover {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: #1F2041;
  font-family: Quicksand;
  line-height: 1.25em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

label {
  font-size: 12px;
  color: #1F2041;
}

.active {
  font-family: Montserrat;
  font-weight: 600;
  color: rgba(31, 32, 65, 0.75);

  &:hover {
    color: rgba(31, 32, 65, 0.75);
  }
}

.header {
  margin-top: 148px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 40px;

  &:last-of-type {
    margin-bottom: 130px;
  }
}

.section {
  padding-top: 67px;
  padding-bottom: 145px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.flex-column {
  @include make-grid-columns();
}

[icon-] {
  color: rgba(31, 32, 65, 0.5);
}

.emblem {
  padding: 30px 0 0 30px;

  &__img {

  }
}