@import "components/custom";
@import "~bootstrap/scss/bootstrap-reboot";
@import "components/font-face";
@import "components/animation";
@import "components/header";
@import "components/footer";
@import "components/cards";
@import "components/colors";
@import "components/type";
@import "components/inputs";
@import "components/buttons";
@import "components/interact";
@import "components/drowdown";
@import "components/list-group";
@import "components/_advantages.scss";

body {
  font-family: Montserrat;
}

.app-wrapper {
  background-color: #FFFFFF;
}

ul {
  @include reset-style(m-p)
}

a, input, select, label, li {
  @include reset-style(m-p);
  @include color-theme(dark-50, color);

  font-size: 14px;
}

a {
  @include reset-style(link)
}

h1, h2, h3 {
  @include reset-style(m-p);
}

h1 {
  @include font-theme(h1);
}

h2 {
  @include font-theme(h2);
}

h3 {
  @include font-theme(h3);
}

p {
  @include font-theme(body);
  @include reset-style(m-p);
}

.active {
  font-family: Montserrat;
  font-weight: 600;
  color: rgba(31, 32, 65, 0.75);

  &:hover {
    color: rgba(31, 32, 65, 0.75);
  }
}

.container-fluid {
  background: #FFFFFF;
  margin-bottom: 40px;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));

  &:last-of-type {
    margin-bottom: 0;
  }
}

.main {

}

.app-wrapper {

  &:nth-child(2) {
    .section {
      padding-top: 64px;
      padding-bottom: 113px;
    }
  }

  &:nth-child(3) {
    background: #F4F4F6;
  }

  &:nth-child(4) {
    background: #F4F4F6;
  }

  &:last-child {
    .section {
      padding-bottom: 135px;
    }
  }
}

.section {
  padding-top: 68px;
  padding-bottom: 145px;
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.flex-column {
  @include make-grid-columns();
}

[icon-] {
  color: rgba(31, 32, 65, 0.5);
}

.emblem {
  padding: 29px 0 0 30px;

  &__img {

  }
}