include mixins/_cards

section.section
    .container: .row
        .cards
            -
                var selectionState = {
                    title: 'Найдём номера под ваши пожелания',
                    dateBtn: [
                        {
                            label: 'прибытие',
                            state: '',
                            text: 'ДД.ММ.ГГГГ',
                            width: 'small'
                        },
                        {
                            label: 'Выезд',
                            state: '',
                            text: 'ДД.ММ.ГГГГ',
                            width: 'small'
                        },
                        {
                            label: 'гости',
                            state: '',
                            text: 'Сколько гостей',
                            width: 'large'
                        }
                    ],
                    iconBtn: {
                        context: 'подобрать номер',
                        href: ''
                    }
                }

            +Selection(
                selectionState.title,
                selectionState.dateBtn,
                selectionState.iconBtn
            )

            -
                var reservationState = {
                    infoCard: {
                        number: 888,
                        type: 'люкс',
                        price: 9990,
                        term: 'в сутки'
                    },
                    dateBtn: [
                        {
                            label: 'прибытие',
                            state: '',
                            text: '19.08.2019',
                            width: 'small'
                        },
                        {
                            label: 'Выезд',
                            state: '',
                            text: '23.08.2019',
                            width: 'small'
                        },
                        {
                            label: 'гости',
                            state: '',
                            text: '3 гостя',
                            width: 'large'
                        }
                    ],
                    descriptionCard: {
                        days: 4,
                        sale: 2179,
                        additional: 300,

                    },
                    iconBtn: {
                        context: 'забронировать',
                        href: ''
                    }
                }

            +Reservation(
                reservationState.infoCard,
                reservationState.dateBtn,
                reservationState.descriptionCard,
                reservationState.iconBtn
            )

            -
                var calendarState = {
                    month: 'Август 2019',
                    week: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
                    days: [
                        29, 30, 31, 1, 2, 3, 4,
                        5, 6, 7, 8, 9, 10, 11,
                        12, 13, 14, 15, 16, 17, 18,
                        19, 20, 21, 22, 23, 24, 25,
                        26, 27, 28, 29, 30, 31, 1
                    ],
                    buttons: [
                        {
                            context: 'очистить',
                            href: '',
                            index: 1
                        },
                        {
                            context: 'Применить',
                            href: '',
                            index: 0
                        },
                    ]
                }

            +Calendar(
                calendarState.month,
                calendarState.week,
                calendarState.days,
                calendarState.buttons
            )

            -
                var registrationState = {
                    title: 'Регистрация аккаунта',
                    name: {
                        placeholder: 'Имя',
                        text: '',
                        width: 'large'
                    },
                    surname: {
                        placeholder: 'Фамилия',
                        text: '',
                        width: 'large'
                    },
                    gender: [
                        {
                            state: 'checked',
                            text: 'Мужчина',
                            index: 1
                        },
                        {
                            state: '',
                            text: 'Женщина',
                            index: 2
                        }
                    ],
                    birthday: {
                        label: 'Дата рождения',
                        state: '',
                        placeholder: 'ДД.ММ.ГГГГ',
                        text: '',
                        width: 'large'
                    },
                    email: {
                        label: 'Данные для входа в сервис',
                        state: '',
                        placeholder: 'Email',
                        text: '',
                        width: 'large',
                        type: 'email'
                    },
                    password: {
                        placeholder: 'Пароль',
                        text: '',
                        width: 'large',
                    },
                    getOffer: {
                        state: '',
                        text: 'Получать спецпредложения',
                        index: 3,
                    },
                    btn: {
                        context: 'перейти к оплате',
                        href: '',
                    },
                    entering: {
                        description: 'Уже есть аккаунт на Toxin',
                        context: 'войти',
                        border: 'border',
                        state: 'active',
                    }
                }

            +Registration(
                registrationState.title,
                registrationState.name,
                registrationState.surname,
                registrationState.gender,
                registrationState.birthday,
                registrationState.email,
                registrationState.password,
                registrationState.getOffer,
                registrationState.btn,
                registrationState.entering
            )

            -
                var loginState = {
                    title: 'Войти',
                    email: {
                        placeholder: 'Email',
                        text: '',
                        width: 'large',
                    },
                    password: {
                        placeholder: 'Пароль',
                        text: '',
                        width: 'large',
                    },
                    btn: {
                        context: 'Войти',
                        href: '',
                    },
                    entering: {
                        description: 'Нет аккаунта на Toxin?',
                        context: 'создать',
                        border: 'border',
                        state: 'active',
                    }
                }

            +Login(
                loginState.title,
                loginState.email,
                loginState.password,
                loginState.btn,
                loginState.entering
            )

            -
                var cardLuxuryState = {
                    image: {
                        name: 'card1',
                        count: 4
                    },
                    infoCard: {
                        number: 888,
                        type: 'люкс',
                        price: 9990,
                        term: 'в сутки'
                    },
                    rate: {
                        id: 3,
                        state: '',
                        count: 5
                    },
                    comments: {
                        value: 145,
                        text: 'Отзывов'
                    }
                }

            +Card(
                cardLuxuryState.image,
                cardLuxuryState.infoCard,
                cardLuxuryState.rate,
                cardLuxuryState.comments
            )

            -
                var cardStandardState = {
                    image: {
                        name: 'card2',
                        count: 4
                    },
                    infoCard: {
                        number: 888,
                        type: '',
                        price: 9990,
                        term: 'в сутки'
                    },
                    rate: {
                        id: 4,
                        state: '',
                        count: 5
                    },
                    comments: {
                        value: 65,
                        text: 'Отзывов'
                    }
                }

            +Card(
                cardStandardState.image,
                cardStandardState.infoCard,
                cardStandardState.rate,
                cardStandardState.comments
            )