include mixins/_cards

section.section
    .container: .row
        .cards
            // This module contains room selection with criteria
            // for selecting the number of guests and date
            include mixins/modules-cards/_selection.module.pug

            // This module contains calculating the total amount
            // and booking a room
            include mixins/modules-cards/_reservation.module.pug

            // This module contains calendar for selecting the booking date
            include mixins/modules-cards/_calendar.module.pug

            // This module contains registration of an account
            // with payment for services
            include mixins/modules-cards/_registration.module.pug

            // This module contains form of entry in service
            include mixins/modules-cards/_login.module.pug

            // This module contains a suite card
            include mixins/modules-cards/_cardLuxury.module.pug

            // This module contains standard room card
            include mixins/modules-cards/_cardStandard.module.pug