include mixins/_colors
include mixins/_type

main.main: section.section: .container: .row
    .colors
        // This module contains a description of all the colors on the site
        include mixins/modules-color-&-type/_color.module.pug

    .type
        // This module contains a description of all the fonts on the site
        include mixins/modules-color-&-type/_type.module.pug