include mixins/_inputs
include mixins/_buttons
include mixins/_interact
include mixins/_dropdown
include mixins/_listGroup

main.main
    section.section
        .container: .row
            .inputs
                // This module contains text field for input email address
                include mixins/modules-form-elements/_input.modules.pug

                // This module contains select field with a choice of guests
                include mixins/modules-form-elements/_dropdown.modules.pug

                // This module contains text field with enter a dd/mm/yyyy
                include mixins/modules-form-elements/_masked.modules.pug

                // This module contains select field with enter a date
                include mixins/modules-form-elements/_date.modules.pug

                // This module contains select field with a date filtering
                include mixins/modules-form-elements/_filterDate.module.pug

                // This module contains text field for newsletter subscription
                include mixins/modules-form-elements/_subscription.module.pug

            .buttons
                .checkbox
                    label.checkbox__label Checkbox Buttons
                    // This module contains a checkbox buttons
                    include mixins/modules-form-elements/_checkbox.module.pug

                .radio
                    label.radio__label Radio Buttons
                    // This module contains a radio buttons
                    include mixins/modules-form-elements/_radio.module.pug

                .toggle
                    label.toggle__label Toggle
                    // This module contains a toggle buttons
                    include mixins/modules-form-elements/_toggle.module.pug

                .like
                    label.like__label like button
                    // This module contains a like buttons
                    include mixins/modules-form-elements/_like.module.pug

                .rate
                    label.rate__label rate button
                    // This module contains a rate buttons
                    include mixins/modules-form-elements/_rate.module.pug

            .interact
                .range
                    // This module contains a range slider
                    include mixins/modules-form-elements/_range.module.pug

                .buttons-click
                    label.buttons-click__label buttons
                    .buttons-click__wrapper
                        // This module contains a small buttons with title CLICK ME
                        include mixins/modules-form-elements/_buttonClick.module.pug

                .buttons-link
                    .buttons-link__wrapper
                        // This module contains a clicking links
                        include mixins/modules-form-elements/_buttonLink.module.pug

                .buttons-icon
                    // This module contains a large button with the transition to payment
                    include mixins/modules-form-elements/_buttonIcon.module.pug

                .pagination
                    label.pagination__label pagination
                    // This module contains a pagination pages
                    include mixins/modules-form-elements/_pagination.module.pug

        .container: .row
            .dropdown
                .dropdown-room
                    // This module contains a hidden and revealed dropdown
                    include mixins/modules-form-elements/_dropdownDefault.module.pug

            .dropdown
                .dropdown-room
                    // This module contains revealed dropdown with a choice number of guests
                    // and one button the Apply
                    include mixins/modules-form-elements/_dropdownPeople.module.pug

            .dropdown
                .dropdown-room
                    // This module contains revealed dropdown with a choice number of guests
                    // and two buttons the Apply and the Clear
                    include mixins/modules-form-elements/_dropdownClear.module.pug

        .container: .row
            .list-group
                // This module contains list of accessories from expandable checkbox list
                include mixins/modules-form-elements/_checkboxList.module.pug

            .list-group
                // This module contains a Rich Checkbox Buttons
                include mixins/modules-form-elements/_richCheckbox.module.pug

            .list-group
                // This module contains bullet list
                include mixins/modules-form-elements/_bulletList.module.pug