include mixins/_inputs
include mixins/_buttons
include mixins/_interact

-
    var inputState = [
        {
            label: 'Text Field',
            state: 'Default',
            placeholder: 'Email',
            text: '',
            width: 'text-field__large'
        },
        {
            label: 'Text Field',
            state: 'Hover / Focus',
            placeholder: 'Email',
            text: 'This is pretty awesome',
            width: 'text-field__large'
        },
    ]

    var dropdownState = [
        {
            label: 'Dropdown',
            state: 'Default',
            text: 'Сколько гостей',
            width: 'text-field__large'
        },
    ]

    var maskedState = [
        {
            label: 'masked text field',
            state: 'Default',
            placeholder: 'ДД.ММ.ГГГГ',
            text: '',
            width: 'text-field__large'
        },
    ]

    var dateState = [
        {
            label: 'date Dropdown',
            state: '',
            placeholder: '',
            text: 'ДД.ММ.ГГГГ',
            width: 'text-field__small'
        },
        {
            label: 'date Dropdown',
            state: '',
            placeholder: '',
            text: '19.08.2019',
            width: 'text-field__small'
        },
    ]

    var filterState = [
        {
            label: 'filter date dropdown',
            state: '',
            placeholder: '',
            text: '19 авг - 23 авг',
            width: 'text-field__medium'
        },
    ]

    var subscriptionState = [
        {
            label: 'subscription text field',
            state: '',
            placeholder: 'Email',
            width: 'text-field__medium'
        },
    ]

    var checkboxState = [
        {
            state: '',
            type: 'checkbox',
            text: 'Можно курить'
        },
        {
            state: 'checked',
            type: 'checkbox',
            text: 'Можно с питомцами'
        },
        {
            state: 'checked',
            type: 'checkbox',
            text: 'Можно пригласить гостей\n' +
                    '(до 10 человек)'
        }
    ]

    var radioState = [
        {
            state: 'checked',
            type: 'radio',
            text: 'Мужчина'
        },
        {
            state: '',
            type: 'radio',
            text: 'Женщина'
        }
    ]

    var toggleState = [
        {
            state: 'checked',
            type: 'checkbox',
            text: 'Получать спецпредложения'
        },
        {
            state: '',
            type: 'checkbox',
            text: 'Получать спецпредложения'
        }
    ]

    var likeState = [
        {
            state: '',
            type: 'checkbox',
            text: '2'
        },
        {
            state: 'checked',
            type: 'checkbox',
            text: '12'
        }
    ]

    var rateState = [
        {
            id: 1,
            state: '',
            type: 'radio',
            count: 5
        },
        {
            id: 2,
            state: '',
            type: 'radio',
            count: 5
        }
    ]

    var rangeState = [
        {
            label: 'Range Slider',
            state: '5 000₽ - 10 000₽',
        }
    ]

main.main: section.section: .container: .row
    .inputs
        // TextField(label, state, placeholder, text, display,  width={small:150px medium:266px large:320px})
        each listInputState in inputState
            +InputWithLabel(
                listInputState.label,
                listInputState.state,
                listInputState.placeholder,
                listInputState.text,
                listInputState.width
            )
        each listDropdownState in dropdownState
            +SelectWithLabel(
                listDropdownState.label,
                listDropdownState.state,
                listDropdownState.text,
                listDropdownState.width
            )
        each listMaskedState in maskedState
            +InputWithLabel(
                listMaskedState.label,
                listMaskedState.state,
                listMaskedState.placeholder,
                listMaskedState.text,
                listMaskedState.width
            )
        each listDateState in dateState
            +SelectWithLabel(
                listDateState.label,
                listDateState.state,
                listDateState.text,
                listDateState.width
            )
        each listFilterState in filterState
            +SelectWithLabel(
                listFilterState.label,
                listFilterState.state,
                listFilterState.text,
                listFilterState.width
            )
        each listSubscriptionState in subscriptionState
            +SubscriptionWithLabel(
                listSubscriptionState.label,
                listSubscriptionState.state,
                listSubscriptionState.placeholder,
                listSubscriptionState.width
            )

    .buttons
        .checkbox
            label.checkbox__label Checkbox Buttons
            each listCheckbox, index in checkboxState
                +CheckboxBtn(
                    listCheckbox.state,
                    listCheckbox.type,
                    listCheckbox.text,
                    index
                )

        .radio
            label.radio__label Radio Buttons
            each listRadio, index in radioState
                +RadioBtn(
                    listRadio.state,
                    listRadio.type,
                    listRadio.text,
                    index
                )

        .toggle
            label.toggle__label Toggle
            each listToggle, index in toggleState
                +ToggleBtn(
                    listToggle.state,
                    listToggle.type,
                    listToggle.text,
                    index
                )

        .like
            label.like__label like button
            each listLike, index in likeState
                +LikeBtn(
                    listLike.state,
                    listLike.type,
                    listLike.text,
                    index
                )

        .rate
            label.rate__label rate button
            each listRate in rateState
                +RateBtn(
                    listRate.state,
                    listRate.type,
                    listRate.id,
                    listRate.count
                )
    .interact
        .range
            each listRange in rangeState
            +Range(
                listRange.label,
                listRange.state
            )

