include mixins/_header
include mixins/_footer

header.header
    +StandardNavBar()

header.header
    +StandardNavBar('Cosmin Negoita')

footer.footer
    +FooterAndCopybar('Copyright © 2018 Toxin UI Kit. All rights reserved.')

footer.footer
    +FooterAndCopybar()