include mixins/_header
include mixins/_footer

section.section
    .container-fluid
        .container: .row
            include mixins/modules-headers-&-footers/_headerStandard.module.pug

    .container-fluid
        .container: .row
            include mixins/modules-headers-&-footers/_headerLogged.module.pug

    .container-fluid
        include mixins/modules-headers-&-footers/_footerWidgets.module.pug

    .container-fluid
        include mixins/modules-headers-&-footers/_footerCreative.module.pug