include mixins/_header
include mixins/_footer

.emblem(style={"position": "absolute", "left": "30px", "top": "30px"})
    img.emblem__img(src=require('../../img/Emblem.svg'))
header.header
    +StandardNavBar()

header.header
    +StandardNavBar('Cosmin Negoita')

footer.footer
    +FooterAndCopybar('Copyright © 2018 Toxin UI Kit. All rights reserved.')

footer.footer
    +FooterAndCopybar()