include mixins/_header


.emblem(style={"position": "relative", "left": "30px", "top": "30px"})
    img.emblem__img(src=require('../../img/Emblem.svg'))
header.header
    .container: .row
        +StandardNavBar()

header.header
    .container: .row
        +StandardNavBar('Cosmin Negoita')

footer.footer
    .container: .row

