mixin Range(label, state)
    label.range__label= label
    span.range__state= state
    .range__wrapper
       .range__input
           .range__thumb.range__thumb_left
           .range__middle
           .range__thumb.range__thumb_right
